.header {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  background-color: rgb(255 255 255);
}

.header__menu-list {
  width: 391px;
  display: flex;
  justify-content: space-between;
  gap: 13px;
  list-style: circle;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-underline-offset: 5px;
}

.no-bullit {
  list-style: none;
}

.header__menu-link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  padding-left: 5px;
  padding-right: 5px;
}

.address {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 5px;
}

.header__address {
  justify-self: end;
  padding-right: 38px;
}

.main {
  background-color: rgb(255 255 255);
}

.cover {
  width: 1100px;
  min-height: 757px;
  position: relative;
  z-index: 0;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover-title {
  display: block;
  position: relative;
  z-index: 2;
  font-family:
    Raleway,
    Arial Bold,
    Helvetica Bold,
    bold sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  color: rgb(255 255 255);
  text-transform: uppercase;
}

.aligned-text_left {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  margin-top: 20px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover-description {
  display: flex;
  justify-content: space-between;
}

.cover-text {
  z-index: 2;
  color: rgb(255 255 255);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: lighter;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-top: 118px;
}

.bet-button {
  z-index: 2;
  min-width: 256px;
  min-height: 51px;
  background: transparent;
  color: rgb(255 255 255);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid rgb(255 255 255);
  padding: 11px 31px 11px 31px;
  margin-top: 106px;
}

.lots {
  margin-bottom: 120px;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 28px;
}

.section-title_lots {
  font-family:
    Raleway,
    Arial Bold,
    Helvetica Bold,
    bold sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
}

.lot-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lot-card {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card-type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  color: rgb(255 255 255);
  z-index: 2;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-left: 40px;
  margin-top: 48px;
  margin-right: 40px;
}

.card-text {
  color: rgb(255 255 255);
  z-index: 2;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 40px;
  margin-bottom: 48px;
  margin-right: 40px;
}

.lots__look-more-link {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-left: 40px;
}

.about {
  margin-bottom: 180px;
  margin-left: 24px;
  margin-right: 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__logo {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background-color: rgb(0 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-top: 35px;
}

.about__title {
  font-family:
    Raleway,
    Arial Bold,
    Helvetica Bold,
    bold sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 136px;
}

.about__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 100px;
}

.about__text-paragraphs {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  max-width: 690px;
}

.footer {
  width: 1100px;
  padding-bottom: 82px;
  background-color: rgb(255 255 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__address {
  margin-left: 50px;
}

.footer__menu-list {
  list-style: none;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  text-underline-offset: 5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-left: 75px;
}
